.row
  .span7
    %h3 Overall 
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Target BMI
          %th Starting weight (kg)
          %th Current BMI
          %th Current weight (kg)
          %th Difference (kg)

      %tbody
        - @people.sort_by! { |person| person.weight_difference }
        - @people.each do |person|
          %tr{ class: "#{person.determine_row_class(person.weight_difference)}" }
            %td
              =link_to person.name, person
            %td= number_with_precision(person.target_bmi, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.starting_weight, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.current_bmi, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.current_weight, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.weight_difference, precision: 1, strip_insignificant_zeros: true)

    %h3 This weigh-in vs. Last weigh-in
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Last weigh-in (kg)
          %th Current weigh-in (kg)
          %th Difference (kg)

      %tbody
        - @people.sort_by! { |person| person.recent_difference }
        - @people.each do |person|
          %tr{ class: "#{person.determine_row_class(person.recent_difference)}" }
            %td
              =link_to person.name, person
            %td= number_with_precision(person.previous_weight, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.current_weight, precision: 1, strip_insignificant_zeros: true)            
            %td= number_with_precision(person.recent_difference, precision: 1, strip_insignificant_zeros: true)
  .span5
    = render 'weigh_ins/form'