.row
  .span8
    %h3 Overall
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th Name
          %th Target BMI
          %th Current BMI
          %th
            .text-center Starting weight</br>(kg)
          %th Current weight</br>(kg)
          %th Difference</br>(kg)
          %th Difference</br>(%)

      %tbody
        - @people.sort_by! { |person| person.weight_difference }
        - @people.each do |person|
          %tr{ class: "#{person.determine_row_class(person.weight_difference)}" }
            %td
              =link_to person.name, person
            %td= number_with_precision(person.target_bmi, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.current_bmi, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.starting_weight, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.current_weight, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.weight_difference, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.weight_difference_percentage, precision: 1, strip_insignificant_zeros: true)

    %h3 Recent weigh-ins
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th Name
          %th Last weigh-in</br>(kg)
          %th Current weigh-in</br>(kg)
          %th Difference</br>(kg)

      %tbody
        - @people.sort_by! { |person| person.recent_difference }
        - @people.each do |person|
          %tr{ class: "#{person.determine_row_class(person.recent_difference)}" }
            %td
              =link_to person.name, person
            %td= number_with_precision(person.previous_weight, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(person.current_weight, precision: 1, strip_insignificant_zeros: true)            
            %td= number_with_precision(person.recent_difference, precision: 1, strip_insignificant_zeros: true)
  .span4
    .hero-unit#weigh-in-form
      %h3 Weigh-in
      = render 'weigh_ins/form'
