.page-header
  = link_to people_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_person_path(@person), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1= @person.name

  %p
    %b Height:
    = @person.height.to_s + ' m'
    %b Target BMI:
    = @person.target_bmi

#chart
  = render_chart(@chart, 'chart')

.row
  .span5
    %h5 Add new weigh-in?
    = simple_form_for(@weigh_in) do |f|
      = f.error_notification

      .form-inputs
        = f.hidden_field :redirect_location, value: person_path(@person)
        = f.hidden_field :person_id, value: @person.id
        = f.input :weight
        = f.input :date, as: :string, input_html: {class: 'datepicker'}
        = f.button :submit, value: "Record weigh-in", class: 'btn-primary'

%h3 Recorded weigh-ins
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Date
      %th Weight
      %th BMI
      %th
  %tbody
    - @person.weigh_ins.order('date DESC').each do |weigh_in|
      %tr
        %td= weigh_in.date.strftime("%a, %e %B %Y")
        %td= number_with_precision(weigh_in.weight, precision: 1, strip_insignificant_zeros: true)
        %td= number_with_precision(weigh_in.calculate_bmi, precision: 1, strip_insignificant_zeros: true)
        %td= link_to 'Edit', edit_weigh_in_path(weigh_in)
        %td= link_to 'Destroy', weigh_in, :confirm => 'Are you sure?', :method => :delete