.page-header
  = link_to people_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_person_path(@person), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1= @person.name

  %p
    %b Height:
    = @person.height.to_s + ' m'
    %b Target BMI:
    = @person.target_bmi

#chart
  = render_chart(@chart, 'chart')

%h3 Recorded weigh-ins
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Date
      %th Weight
      %th BMI
  %tbody
    - @person.weigh_ins.order('date').each do |weigh_in|
      %tr
        %td= weigh_in.date
        %td= number_with_precision(weigh_in.weight, precision: 1, strip_insignificant_zeros: true)
        %td= number_with_precision(weigh_in.calculate_bmi, precision: 1, strip_insignificant_zeros: true)