= simple_form_for(@weigh_in, :defaults => { :input_html => { :class => 'input-medium' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :redirect_location, value: root_url
    = f.input :person_id, collection: Person.all
    = f.input :weight
    = f.input :date, as: :string, input_html: {class: 'datepicker'}

  .pull-right
    = f.button :submit, value: "Record weigh-in", class: "btn-primary"
