.page-header
  = link_to weigh_ins_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_weigh_in_path(@weigh_in), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1 Listing weigh_ins

%dl
  %dt Person:
  %dd= @weigh_in.person_id
  %dt Weight:
  %dd= @weigh_in.weight
  %dt Date:
  %dd= @weigh_in.date
